* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EFEFEF;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 50px;
  text-decoration: none;
}

/* Change the link color on hover */
.nav li a:hover {
  background-color: #DDDDDD;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  text-align: center;
}
