/* || Header and Main Navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #101010;
    align-items:center;
  }
  nav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
  }

body {
    background-color: #101010;
    color: #ffffff;
    font-family: 'Archivo', sans-serif;
  }
  h1 {
    color: #ffffff;
  }
  nav a {
    color: #ffffff;
  }
  footer {
    color: #ffffff;
  }

  a {
    text-decoration: none;
  }

  a:link, a:visited {
    color: #ffffff;
  }

  a:hover {
    color:gold;
  }

  #boxes {
      width: 960px;
      background-color: #101010;
      text-align: center;
      float: left;
      
    }
  
  #boxes .box {
      width: 200px;
      height: 200px;
  
      margin: 10px;
      display: inline-block;
  
      background-color: #101010;
      border:1px solid #ffffff;
    }
  
  @media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
      #boxes {
      width:560px;
      background-color: #101010;
      text-align: center;
      float: left;
    }
  
    #boxes .box {
      width: 20vw;
      height: 150px;
  
      margin: 5px;
      display: inline-block;
  
      background-color: #101010;
      border:1px solid #ffffff;
    }
  }

  @media (max-width: 500px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
      #boxes {
      width: 300px;
      background-color: #101010;
      text-align: center;
      float: left;
    }
  
    #boxes .box {
      width: 200px;
      height: 200px;
  
      margin: 5px;
      display: inline-block;
  
      background-color: #101010;
      border:1px solid #ffffff;
    }

    #boxes .box2 {
      width: 200px;
      height: 200px;
  
      margin: 5px;
      display: inline-block;
  
      background-color: #101010;
    }
  }
  
  #boxes_left {
      width: 50vw;
      background-color: #101010;
      text-align: left;
      float: left;
    }
  

    .column {
        float:left;
        width: 250px;
        height: 250px;
        padding: 10px;
        font-size: 65%;
        margin: 5px;
        margin-left: 20px;
        display: block;
        background-color: #101010;
        border:1px solid #ffffff;
      }
      
      .column:hover {
        background-color:dimgray;
      }
      
      .hiking {
        float:left;
        width: 250px;
        height: 250px;
        padding: 10px;
        font-size: 65%;
        margin: 5px;
        margin-left: 20px;
        display: block;
        background-color: #101010;
        border:1px solid #ffffff;
      }
      .hiking:hover {
        background-image: url('https://images2.imgbox.com/2b/84/B7ddOAj3_o.jpg');
        image-resolution: 300dpi;
        background-size:cover;
        background-position:center;
      }
      
      .cook {
        float:left;
        width: 250px;
        height: 250px;
        padding: 10px;
        font-size: 65%;
        margin: 5px;
        margin-left: 20px;
        display: block;
        background-color: #101010;
        border:1px solid #ffffff;
      }
      .cook:hover {
        background-image: url('https://images2.imgbox.com/ac/c7/OkGaFfPM_o.jpg');
        image-resolution: 300dpi;
        background-size:cover;
        background-position:center;
        
      }

      .row:after {
        content: "";
        display: table;
        clear: both;
      }


#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

@media screen and (min-width: 800px) {
    div.half_page {
      max-width: 50%;
    }
}


.fill-content {
  width: 90vw;
  height: 90vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myPic img {
  max-width: 100%;
  max-height: 90vh;
  display: block;
}


.intro { 
  text-align: center; 
  font-family: Georgia, serif;
}

/*h2 { 
  font-size: 36px;
} */

/*p { 
  font-size: 14pt;
} */

/* || BLOG POST */
/* BLOG POST LISTS */
/* ____________ */
#related_links {
        width: 12em;
        border-right: 1px solid #000;
        padding: 0 0 1em 0;
        margin-bottom: 1em;
        /*font-family: 'Trebuchet MS', 'Lucida Grande',
        Verdana, Lucida, Geneva, Helvetica, 
        Arial, sans-serif; */
        background-color: #FFFFFF;
        color: #000;
        }

    #related_links ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border: none;
        }
        
    #related_links li {
        border-bottom: 1px solid #7A918D;
        margin: 0;
        }

    #related_links li a:hover {
        border-left: 10px solid #99C2A2;
        border-right: 10px solid #99C2A2;
        background-color: #99C2A2;
        color: #000;
        }


/* || Image gallery */
/* IMAGE GALLERY */
/* ____________ */
#image-gallery { 
  width: 90vw;
  height: auto;/*90vh;*/
  /*width: 600px;*/ 
  margin: 0 auto;
}


#current-image { 
  /*width: 100%;*/
  max-width: 100%;
  max-height: 90vh;
} 

#image-thumbs { 
  display: flex; 
  justify-content: center; 
  margin-top: 5px;
  margin-right: 5px; 
  /*overflow: scroll;*/
}
#image-thumbs #container {
  width: 90vw
}
#image-thumbs a:hover {
border: 6px solid #888;
}

.thumb { 
  width: 80px; 
  height: 80px; 
  object-fit: cover; 
  margin-right: 10px; 
  cursor: pointer;
  text-align: center;
  overflow: scroll;
}
#thumb #container {
  width: 90vw
}
#thumb a:hover {
border: 6px solid #888;
}


imgallery {
border: none;
}
#imag2, #imag3, #imag4, #imag5, #imag6, #imag7 {
display: none;
}

/* md-block */
/* ____________ */
md-block:not([rendered]) { 
  * {
    /*font-family: Georgia, serif;*/
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6 {
  font-family: 'Black Han Sans', sans-serif;
  }
}
md-block[rendered] { 
  * {
    /*font-family: Georgia, serif;*/
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
  }
  h1, h2, h3, h4, h5, h6 {
  font-family: 'Black Han Sans', sans-serif;
  }
}

/* || Book read review */
/* ____________ Book read review start ____________ */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: auto;
  height: 50vh;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* ____________ Book read review done ____________ */

/* || experimental page */
/* ____________ experimental page start ____________ */
/* Split the screen in half */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  width: 30%;
}

/* Control the right side */
.right {
  right: 0;
  width: 70%;
}
 
.boxesatsplit {
      width: 200px;
      height: 200px;
      padding:10px;
      overflow:auto;
      margin: 10px;
      display: inline-block;
      background-color: #101010;
      border:1px solid #ffffff;
    }

/* ____________ experimental page done ____________ */
